---
title: "RoBoat Autonomous Platform"
summary: "Autonomous small boats designed to enable repeatable, acurate sea surface surveys for very low cost using techonlogies borrowed from autonomous arial drones and the RC hobby market."
date: "2024-1-05"
updated: "2024-1-05"
categories: ["System Integration"]
tags:
  - "C++"
  - "CAD"
  - "GIS"
---

RoBoats are small low-cost autonomous boats designed for near shore oceanagraphic research and education. They are build on the Pixhawk hardware platform running the open source Ardupilot arial drone flight stack adapted for surface vessels. Our team improved on the hardware of the inital university prototype giving the boats signifigant improvements in performance and precision in autonomous mode through tuning of hardware components and software parameters. RoBoats can be controlled remotely or autonomously and can be outfited with a variety of payloads including plankton nets, turbidity sensors, or sonar for depth mapping and biomass estimation.

#### My Role
 Hardware assembly, software & PID control tuning.
