body {
  display: flex;
overflow-x: hidden;

  margin: 0;
  padding: 0;

  text-decoration: inherit;
  letter-spacing: 0.04em;
  text-transform: inherit;

  background-color: #87add8;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a:visited {
  color: #2196f3;
}

a {
  text-decoration: none;

  color: #2196f3;
}

header {
  position: fixed;
  z-index: 2;

  overflow: hidden;

  box-sizing: border-box;
  width: 100%;
  height: 0;

  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms height;
  text-align: center;

  background-color: #87add8;
  /* transition-delay: 500ms; */
}

header.full-expansion {
  height: 100vh;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: block;

  width: 42px;
  height: 42px;

  cursor: pointer;

  border: 0;
  border-radius: 60px;
  background: transparent;

  font-size: 26px;
}
.modal-close:hover,
.modal-close:focus,
.modal-close:active {
  outline: none;
  background: #d7451033;
}
.modal-close:before {
  content: "\2715";
}

#organic_button, #organic_button_container {
  position: relative;

  display: block;

  max-width: 90%;
  max-height: 140px;
  margin: auto;
  margin-top: 470px;
}


#organic_button_click_target {
  cursor: pointer;

  opacity: 0;
}

#organic_button_click_target:hover,#organic_button_click_target:active {
  opacity: 1;
}

#organic_button_blur_container {
  position: absolute;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
  overflow: hidden;
}



#organic_button_blur_sizing {
  position: relative;
  bottom: 0;

  height: 100%;
  margin: auto;

  background: white;

  -webkit-clip-path: url(#organic_button_path);
}

#icon_links {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 70px;
  height: 70px;

  transition: width .4s ease,height .4s ease;

  border-radius: 0 0 188px 0;
  background-color: black;
  box-shadow: 0 0px 20px -5px rgb(0 0 0 / 48%);
}

#icon_links:hover, #icon_links.expanded  {
  width: 130px;
  height: 130px;
}

#icon_links:hover .icon-links-hover-hint, #icon_links.expanded .icon-links-hover-hint, #icon_links:focus-within .icon-links-hover-hint {
  opacity: 0.1;
}

#icon_links:focus-within {
  width: 130px;
  height: 130px;

  transition: none;
}

.icon-links-hover-hint {
  position: absolute;
  top: 0;
  left: 0;

  padding: 11px;

  user-select: none;

  color: white;

  font-size: 56px;
}

#icon_links a {
position: absolute;

opacity: 1;
}
#icon_links img {
  height: 30px;
  padding: 12px;

  border-radius: 100px;
}


.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column-reverse;

  width: 100%;
}

.background-image {
  position: absolute;
  z-index: -1;
  left: 50%;

  width: 100%;
  min-width: 1000px;
  min-width: calc(136vh + 20px);

  transform: translate(-50%, 20px);
}

.intro-text {
    position: absolute;
    right: 0;

    display: block;
    overflow: hidden;

    width: 504px;
    height: 504px;
    margin: 5vh 5vw;
    margin-top: -140px;
    padding: 0;

    text-align: center;

    border-radius: 10000px;
    background: white;
    box-shadow: 0 0px 20px -5px rgb(0 0 0 / 48%);
}

.center {
  position: absolute;
  top: 55%;
  left: 50%;

  width: 100%;
  margin: 0;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.intro-text h1 {
  font-size: 2.5em;
  line-height: 1.3em;
}

.intro-text h4 {
  margin-bottom: 16px;

  font-size: 1.25rem;
  font-weight: 400;
}

.intro-about-button {
  overflow: hidden;

  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  margin-top: 36px;
  margin-bottom: 16px;
  padding: 0 8px;

  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.0892857143em;

  color: #2196f3;
  border-color: #2196f3;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);

  font-size: 16px;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 2.25rem;
  line-height: inherit;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
}

#about-container {
  position: absolute;
  top: 0;
  left: 50%;

  overflow: auto;

  box-sizing: border-box;
  width: 100vw;
  max-width: 700px;
  height: 100vh;
  margin-top: 0;
  padding: 80px 0 10px 0;

  transition: opacity 500ms ease;
  transform: translateX(-50%);

  opacity: 0;
}

header.full-expansion #about-container {
  opacity: 1;
}

header #header_gradient {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  left: 0;

  height: 200px;

  background: radial-gradient(ellipse at top, #d2e4ffa8, transparent 60%);
}

.main-container {
  position: relative;
  z-index: 0;

  box-sizing: border-box;
  width: 100%;
  max-width: 990px;
  height: 100%;
  margin: 0 auto;


}

.frosted-container {
position: relative;
z-index: -1;

overflow: hidden;

  padding: 0 12px;

  border-radius: 3px;
  background: rgba(255, 255, 255, 1);
box-shadow: 0px 2px 20px 7px #00000040;
}
.frosted-container h1 {
  margin: 0;padding: 1.4em;

  cursor: pointer;

  padding-block-end: 0.2em;
}

.clearfix::after {
  display: table;
  clear: both;

  content: "";
}

.card {
  position: relative;
  z-index: 0;

  margin-top: 100px;
  margin-bottom: 40px;
  padding: 0;

  color: rgba(0, 0, 0, 0.87);
  border: 2px solid #2196f3;
  border-radius: 16px;
  background: #ffffff;

}

.card-body {
  overflow: hidden;

  padding: 24px 34px;
}

.logo-container {
  position: absolute;
  top: -65px;
  left: 16px;

  display: block;
  overflow: hidden;

  width: 130px;
  height: 130px;

  opacity: 1;
  border: 2px outset #2196f3;
  border-radius: 30px;
  background: black;
  /* background: url(Logos/icon-bg.png); */
  background-size: cover;

}

.logo-container img {
  width: 120px;
  margin: 50%;

  transform: translate(-50%, -50%);
}

.logo-blur-background {
  position: absolute;
  top: 0;
left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.4;
  background-image: url('./OregonBlur.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}
 .logo-container .logo-blur-background {
  left: -129px;

  opacity: .8;
  background-image: url('./Oregon.jpg');
}

.frosted-container>.logo-blur-background {
  z-index: -2;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0.3;
}

.card h1 {
  margin-top: 0;
  margin-right: 16px;
  margin-bottom: -36px;
  margin-left: 164px;
    padding: 24px;

    transform: translateY(-50%);
    text-align: left;

    border: 2px outset #2196f3;
    border-radius: 100px;
    background: white;

    font-size: 40px;
    line-height: 42px;
}

.embla__carousel {
  position: relative;
  right: -14px;
  left: -14px;

  overflow: hidden;

  width: calc(100% + 28px);
margin-top: -40px;
}

.embla__container {
  display: flex;
  /* margin: 0 20px; */

  cursor: ew-resize;
}

.embla__slide {
  position: relative;

  flex: 0 1 100%;

  height: 300px;
  padding: 80px 60px;

  transition: transform 200ms ease, opacity .5s ease;

  opacity: 0;
  border-radius: 2px;

}

.embla__slide img, .embla__slide video{
  height: 100%;

  box-shadow: 0 4px 16px -5px rgb(0 0 0 / 48%);
}

.embla__slide.active {
  z-index: 10;

  transform: scale(1.3);
}

@media (min-width: 840px) {
  /* .embla__container {
    margin: 0 -16px -30px -16px;
  }
  .embla__slide {
    margin: 67px 50px 100px 50px;
  } */
  .active img, .active video {
    -webkit-box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);
  }
  .active:not(.no-zoom) {
    transform: scale(1.3);
  }
}

@media (max-width: 630px) {
  /* .embla__container {
    margin-right: -16px;
    margin-left: -16px;
  }
  .embla__slide {
    width: auto !important;
    height: calc(100vw / 2);
  }
  .embla__slide iframe {
    width: 100%;
    height: 100%;
  } */
  .intro-text h1 {
    font-size: 2.2em;
  }
  .team-card {
    display: inline-block !important;

    width: auto !important;
    margin: 0 0 12px 0 !important;
  }
  select#project_pages_select {
    padding: 12px;

    font-size: 14px;
  }
}

@media (max-width: 530px) {
  select#project_pages_select {
    padding: 6px;

    font-size: 12px;
  }
  .intro-text {
    right: unset;
    left: 0;

    margin-left: 2px;
  }
}

.slick-prev {
  left: 0;

  background: url(UI-Elements/left_arrow.svg);
  background-position-x: left;
}

.slick-next {
  right: 0;

  background: url(UI-Elements/right_arrow.svg);
  background-position-x: right;
}

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 1;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 175px 56px;

  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  color: transparent;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 30px 200px;

  font-size: 0;
  line-height: 0;
}

.slick-prev:hover,
.slick-next:hover {
  transform: translate(0, -50%) scale(1.2);
}

.slick-prev:focus,
.slick-next:focus {
  filter: invert();
}
.team-card {
  position: relative;
  z-index: 0;

  display: inline-block;
  overflow: hidden;

  width: calc(100% / 2 - 40px);
  margin: 0 20px 20px 0;
  padding: 12px;

  color: rgba(0, 0, 0, 0.87);
  border: 2px solid #2196f3;
  border-radius: 8px;
  background: #ffffff;
}

.team-card img {
  position: relative;
  left: calc(50% - 30px);

  width: 60px;
  height: 60px;

  border-radius: 60px;
}

/*
.other-box {
    position: relative;
    display: inline-block;
    margin: 12px;
    width: 260px;
    height: 260px;
    overflow: hidden;
}

.other-box img {
    height: 100%;
}

.other-box .caption {
    position: absolute;
    padding: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
} */

footer {
  margin: 0 4px 16px 4px;

  text-align: center;

  font-size: 14px;
}

footer .open-source-credits {
  float: right;
}

#project_pages_select_section {
  position: relative;

  width: fit-content;
  margin: 12px auto;
  padding: 12px;

  text-align: center;
}
#project_pages_select {
  width: fit-content;
  padding: 12px 18px;

  cursor: pointer;

  color: white;
  border: none;
  border-radius: 120px;
  background: #000000d1;

  font-size: 19px;
  font-weight: bold;

  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
}
/* #project_pages_select {
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  display: block;
  visibility: hidden;
  top: -50px;
} */
