@import "tailwindcss";
@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/vintage';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Ensures the dark: prefix triggers when `.dark` is on any parent element */
/* @custom-variant dark (&:is(.dark, .dark *)); */

html {
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    scrollbar-color: rgb(200, 200, 200) black;
}

body {
    overflow-x: hidden;
    overflow-x: clip;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 20px;
    border: 6px solid black;
}
