---
title: "Pantry Chef"
date: "2023-2-05"
updated: "2023-2-05"
categories: ["Experiments"]
tags:
  - "ML"
  - "Python"
  - "API"
  - "Web"
  - "Data Science"
links:
  Pantry Chef: https://kw-m.github.io/pantry-chef/
---

AI experiment where I explored how large language models predating chatGPT would fair in a recipe generation task. created during the Cruzhacks 2023 hackathon based on a custom fine tuning of an LLM for recipe generation. The idea behind Pantry Chef was to inspire tasty dishes from what you already have in your pantry - and an oportunity for me to learn how to train early generative AI. The frontend is made in Vue and Tailwind css. Our page uses NLP to parse ingredients out of the natural language prompt and gather relavant food info on the public Edemam API. We fine tuned a Cohere genrative text model to output resonable recipes from provided ingredients. Our fine tuning dataset was generated in Python by combining, cleaning, and standardizing several online recipe datasets. We used Edemam API to augment our dataset with alergen and dietary restriction info based on ingredients. We further randomized the training data through ingredient masking to avoid overfitting.
