#Wikitrust_UI {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  border: none;
  border-top: 1px solid #a2a9b1;
}

#WitiTrustActivateButton {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0;
  width: 160px;
  min-height: 36px;
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 6px 6px 0 0;
  background-color: #f7b733;
  margin-left: 8px;
  color: black;
  border: 1px solid #a2a9b1;
  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
  font-style: italic;
}

@media (max-width: 974px) {
  #WitiTrustActivateButton {
    width: 140px;
  }
}

@media (max-width: 719px) {
  #WitiTrustActivateButton {
    bottom: 33px;
  }
}

@media (min-width: 975px) {
  #Wikitrust_UI {
    width: calc(100% - 177px);
  }
}

@media (min-width: 720px) and (max-width: 974px) {
  #Wikitrust_UI {
    width: calc(100% - 161px);
  }
}
