---
title: "Liminal Wage"
categories:
  - "Game Dev"
  - "Unity"
  - "Performance"
  - "Graphics"
---

Non-Euclidian pizza delivery game. Did graphics programming to get the infinite wraparound working (made in Unity).
