@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    scroll-behavior: smooth;
    background-color: black;
}

body {
    overflow-x: clip;
    overflow-y: auto;
}
